---
layout: default
title: Showcase
group: "navigation"
disqus: true
---

<h1 id="showcase" class="page-header">{{ page.title }}</h1>

<h2>Projects</h2>
<a name="retour au texte" href= "#note1"> 1</a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit (<a name="retour au texte" href= "#note1"> 1</a>). Aenean odio ipsum, adipiscing vehicula cursus ac, rutrum in felis. </p>
-----
<p>Note :
<a name= "note1">(1)</a> Nam quis ipsum nibh, ac lacinia augue (<a href= "#retour au texte">retour au texte1</a>)</p>

<div style="padding: 2em"></div>

    <section class="slider">
      <div>
<center>
<table>
<tr>
	  {% for project in site.data.projects %}

    {% capture column %}{% cycle 1, 2, 3, 4, 5, 6%}{% endcapture %}
    {% if column == '1' %}
    </tr><tr>
	  {% endif %}

    <td width="200" valign="top">
    <center>
	  {% if project.image %}
            <a href="#{{ project.name }}">
              <img height="200" src="assets/showcase/{{ project.image }}"
		   alt="{{ project.title }}"
		   title="{{ project.title }}"/>
            </a>
            {% if project.title %}
            <p class="flex-caption">{{ project.title }}</p>
            {% endif %}
          </li>
	  {% else if project.video %}
          <li class="slide play3">
            <iframe width="560" height="200" id="youtubevideo"
		    title="{{ project.title }}"
		    src="http://www.youtube.com/embed/{{ project.video.youtube_id}}?enablejsapi=1&version=3&playerapiid=youtubevideo&vq=hd720"
		    allowfullscreen frameborder="0"></iframe>
          </li>
	  {% endif %}
    </center>
    </td>
	  {% endfor %}
</tr>
</table>
</center>
    </section>

<!-- Load FlexSlider Library -->
<script src="js/flexslider/jquery.flexslider-min.js"></script>

<!-- Load FlexSlider style -->
<link href="js/flexslider/flexslider.css" rel="stylesheet">

<!-- Load custom slider style -->
<link rel="stylesheet" href="slider.css" type="text/css">
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>

<!-- Load YouTube player -->
<script src="js/flexslider-youtube.js"></script>
<script src="js/jquery.fitvids.js"></script>

<script type="text/javascript">
  // Initialize FlexSlider
  $(window).load(function() {
  $('.flexslider')
  .fitVids()
  .flexslider({
  animation: "slide",
  //controlNav: "thumbnails",
  directionNav: true,
  // TODO: need to stop slideshow while playing videos to handle this
  slideshow:false,
  slideshowSpeed: 7500,
  animationLoop: true,
  animationSpeed: 600,
  pauseOnAction: true,
  pauseOnHover: true,
  touch: true,
  smoothHeight: true,
  video: true,
  before: function(slider){
  if (slider.slides.eq(slider.currentSlide).find('iframe').length !== 0)
  $f( slider.slides.eq(slider.currentSlide).find('iframe').attr('id') ).api('pause');
  }
  });
  });
</script>

<div style="padding: 2em"></div>

<h2>Papers</h2>


<div class="table-responsive">
  <table class="table table-condensed" id="status">
    <thead>
      <tr>
        <td>Title</td>
        <td>Authors</td>
        <td>Conference/Book</td>
        <td>Year</td>
        <td>File</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
	  {% for project in site.data.projects %}
      <tr id="{{ paper.id }}">
        <td id="{{ paper.id }}-title">
        <a name= "{{ project.name }}">X</a>
        {{ project.title }}</td>
        <td id="{{ paper.id }}-authors">{{ project.authors }}</td>
        <td id="{{ paper.id }}-description">{{ project.description }}</td>
        <td id="{{ paper.id }}-year">{{project.year}}</td>
        <td id="{{ paper.id }}-url">
          {% if paper.URL %}
          <a href="{{ paper.URL }}" target="_blank">
            <span class='glyphicon glyphicon-file'></span>
          </a>
          {% endif %}
        </td>
        <td><a href= "#retour au texte">retour au texte1</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div style="padding: 10em"></div>

<!-- vim: set ts=2 sw=2 ft=liquid si: -->
